# Thanks to: acassen/keepalived/blob/master/keepalived/keepalived-non-root.service.in

[Unit]
Description=CoreDNS DNS server
Documentation=https://coredns.io
After=network.target

[Service]
LockPersonality=yes
NoNewPrivileges=yes
DynamicUser=yes
RemoveIPC=yes
ProtectSystem=strict
ProtectHome=read-only
ProtectClock=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes
ProtectHostname=yes
DevicePolicy=strict
DeviceAllow=/dev/null
PrivateMounts=yes
PrivateNetwork=no
PrivateTmp=yes
PrivateIPC=yes
StateDirectory=%N
StateDirectoryMode=0750
WorkingDirectory=/var/lib/%N
UMask=0007
User=_%N
Group=%N
LimitNOFILE=1048576
LimitNPROC=512
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
RestrictNamespaces=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
KillSignal=SIGTERM
ExecStart=/usr/bin/coredns -conf=/etc/coredns/Corefile
ExecReload=/bin/kill -SIGUSR1 $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
