Source: coredns
Maintainer: Miek Gieben <miek@coredns.io>
Build-Depends: debhelper (>= 9), ca-certificates, curl, base-files (>= 11.1~) | dh-systemd, lsb-release, jq

Package: coredns
Architecture: any
Description: DNS server that chains plugins
Depends: adduser
